<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Header")
@Html.Partial("_SideBar")

<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->

         
        @RenderBody()
    </div>

@Html.Partial("_Footer")

</body>
</html>
